<!DOCTYPE html>

<html lang="en-US">

<head>
  <title>Meyerson</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@3"></script>
  <link rel="stylesheet" href="index.css">
  <script src="/index.js"></script>
</head>

<body>
  <div id="app">
    <h1>Meyerson</h1>

    <div id="main" class="container">
      <div id="all-procs-view">
        <button
          style="margin-left:auto;margin-right:auto"
          @click="refreshProcs()"
        >Refresh</button>

        <details v-for="p of procs">
          <summary>
            {{ p.name }} | {{ statusToString(p.status) }} | 
            <button @click="editProcess(p)">Edit</button> |
            <button @click="cloneProccess(p)">Clone</button> |
            <button @click="delProc(p)">X</button>
          </summary>
          <p>Error: {{ p.error }}</p>
          <p>Path: {{ p.path }}</p>
          <p>Args: </p>
          <p>Envs: </p>
          <p>Dir: </p>
        </details>
      </div>

      <div id="proc-view">
        <button @click="newProcess()">New Process</button>
        <button @click="editProcess()" v-if="!editing">Edit</button>
        <button @click="cancelEdit()" v-else>Cancel</button>
        <button @click="cloneProcess()">Clone</button>
        <br>
        <p>Name: {{ proc.name }}</p>
        <p>Status: {{ proc.status }}</p>
        <p>Error: {{ proc.error }}</p>
        <label>Path: </label><input type="text" v-model="proc.path" :disabled="!editing" />
        <br>
        <br>
        <label>Args: </label>
        <template v-for="(arg, i) in proc.args">
          <br>
          <input type="text" v-model="proc.args[i]" :disabled="!editing" />
          <button @click="proc.args.splice(i, 1)" :disabled="!editing">X</button>
        </template>
        <br>
        <button @click="proc.args.push('')" :disabled="!editing">Add Arg</button>
        <br>
        <br>
        <label>Envs: </label>
        <template v-for="(env, i) in proc.env">
          <br>
          <input type="text" v-model="proc.env[i]" :disabled="!editing" />
          <button @click="proc.env.splice(i, 1)" :disabled="!editing">X</button>
        </template>
        <br>
        <button @click="proc.env.push('')" :disabled="!editing">Add Var</button>
        <br>
        <br>
        <label>Dir: </label><input type="text" v-model="proc.dir" :disabled="!editing"></input>
        <br>
        <br>
        <template v-if="proc.status==StatusStopped">
          <button @click="startProc(proc)">Start</button>
        </template>
        <template v-else-if="proc.status==StatusRunning">
          <button @click="interruptProc(proc)">Interrupt</button>
          <button @click="killProc(proc)">Kill</button>
        </template>
        <template v-if="proc.stderr!=''">
          <h3>Stderr</h3>
          <pre v-if="proc.stderr!=''">{{ proc.stderr }}</pre>
        </template>
      </div>
    </div>
  </div>

<script defer>Vue.createApp(app).mount("#app");</script>
</body>

</html>
